version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:5000"
    volumes:
      - .:/app

  frontend:
    image: node:20-slim
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    command: >
      sh -c "rm -rf node_modules && npm install && npm run dev -- --host"
